:root {
	--video-slider-blue-color: #06ffff;
}

.base-template__content,
.base-template__wrapper {
	padding: 0;
	max-width: 1420px;
	width: 100%;
}

.base-template__text {
	margin: 0 0 20px;
}

.base-template__text img {
	width: 25px;
	height: auto;
	vertical-align: middle;
	transform: translateY(-2px);
}

.base-template__title {
	font-size: 4rem;
}

.video-slider__special {
	color: var(--video-slider-blue-color);
}

/**
 * Video Slider
 */

.video-slider {
	margin-top: 60px;
	height: 570px;
	max-width: 1380px;
	touch-action: pan-x;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	overflow: hidden;
}

.video-slider__wrapper {
	bottom: -90px;
}

.video-slider__slide {
	width: 400px;
	height: 480px;
	border-radius: 10px;
	transform: translateY(0);
	transition: filter 0.3s ease, transform 0.4s ease;
}

.video-slider__video-box {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	filter: brightness(0.2);
	transition: transform 0.5s ease, filter 0.5s ease;
	will-change: transform;
	overflow: hidden;
}

.video-slider__video-box video {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	transform: scale(1.2);
	transition: transform 0.3s ease;
}

.video-slider__info-box {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 100;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	row-gap: 8px;
	width: 100%;
	opacity: 0;
	text-align: center;
	font-family: "Oswald", sans-serif;
	transform: translate(-50%, 0);
	transition: bottom 0.5s ease, opacity 0.1s ease;
}

.video-slider__info-title {
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.3;
	color: white;
}

.video-slider__info-text {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	line-height: 1.3;
	color: rgba(255, 255, 255, 0.7);
}

.video-slider__video-box::before {
	content: "";
	position: absolute;
	inset: 0;
	opacity: 0;
	z-index: 1;
	background: linear-gradient(
		to top,
		rgba(161, 25, 152, 0.28),
		rgba(161, 25, 152, 0)
	);
	transition: opacity 0.5s ease;
}

.swiper-slide-active .video-slider__video-box {
	filter: brightness(1);
}

.swiper-slide-active .video-slider__video-box {
	transform: translateY(-90px);
}

.swiper-slide-active .video-slider__video-box::before {
	opacity: 1;
}

.swiper-slide-active .video-slider__video-box video {
	transform: scale(1);
}

.swiper-slide-active .video-slider__info-box {
	opacity: 1;
	transition: bottom 0.5s ease, opacity 0.5s ease 0.25s;
}

@media screen and (max-width: 768px) {
	.base-template__text img {
		width: 20px;
	}

	.video-slider__slide {
		width: 300px;
		height: 400px;
	}

	.video-slider__info-title {
		font-size: 1.5rem;
	}

	.base-template__title {
		font-size: 2rem;
	}
}

@media screen and (max-width: 575px) {
	.video-slider__slide {
		width: 250px;
		height: 350px;
	}
}
